<h1><%= brew_note.created_at %>
<h2>Mash Notes</h2>
<%= line_chart [[0,3],[15, 4], [30, 12], [45, 20], [60, 30]] %>

<h2>Boil Notes</h2>
<p>Boil notes will go here</p>

<h2>Fermenting Notes</h2>
<p>Fermenting chart will go here</p>

<h2>Tasting Notes</h2>
<p>Tasting chart will go here</p>


<script>


</script>