<h1><%= brew_note.created_at %>
<h2>Mash Notes</h2>

<%= line_chart brew_note.mash_notes.select {|note| note.time && note.temperature }.map{
  |note| [note.time, note.temperature]
}, id: "mash-chart-#{brew_note.id}" %>

<h2>Boil Notes</h2>
<p>Boil notes will go here</p>

<h2>Fermenting Notes</h2>
<p>Fermenting chart will go here</p>

<h2>Tasting Notes</h2>
<p>Tasting chart will go here</p>


<script>


</script>