<tr>
  <td><%= fermentation_check.elapsed_time %></td>
  <td><%= fermentation_check.temperature %></td>
  <td><%= fermentation_check.specific_gravity %></td>
  <td><%= fermentation_check.body %></td>
  <td><button>Edit check</button></td>
</tr>