<h2>Fermentation Checks</h2>
<table class="editable-table">
  <thead>
    <tr>
      <th>Elapsed Time (days)</th>
      <th>Temperature (˚F)</th>
      <th>Specific Gravity (eg. 1025)</th>
      <th>Note</th>
      <% if current_user.brew_notes.include?(@brew_note) %>
      <th>Edit</th>
      <th>Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @brew_note.fermentation_note.fermentation_checks.each do |check| %>
      <%= render partial: "fermentation_check_row", locals: {fermentation_check: check} %>
    <% end %>
  </tbody>
</table>

<% if current_user.brew_notes.include?(@brew_note) %>
  <%= form_for @brew_note.fermentation_note.fermentation_checks.new,
      remote: true, html: { class: "add-row" } do |f| %>
        <input type="hidden" name="fermentation_check[fermentation_note_id]"
        value="<%= @brew_note.fermentation_note.id %>">
    <%= f.submit "Add fermentation check", class: "button" %>
  <% end %>
<% end %>