<!-- Will increment when new fermentation check added -->
<% n = 0 %>

<h2>Fermentation Checks</h2>
<table>
  <thead>
    <tr>
      <th>Days</th>
      <th>Temperature</th>
      <th>Specific Gravity</th>
      <th>Misc Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text"
        name="brew_note[fermentation_note_attributes][fermentation_checks_attributes][<%= n %>][elapsed_time]">
      </td>
      <td>
        <input type="text"
        name="brew_note[fermentation_note_attributes][fermentation_checks_attributes][<%= n %>][temperature]">
      </td>
      <td>
        <input type="text"
        name="brew_note[fermentation_note_attributes][fermentation_checks_attributes][<%= n %>][specific_gravity]">
      </td>
      <td>
        <input type="text"
        name="brew_note[fermentation_note_attributes][fermentation_checks_attributes][<%= n %>][body]">
      </td>
    </tr>
</tbody>
</table>