<% time = 60 %>
<h2>Mash Notes</h2>
<table>
  <thead>
    <tr>
      <th>Time</th><th>Temperature</th><th>Comment</th>
    </tr>
  </thead>
  <tbody>
<% 5.times do |n| %>
  <tr>
    <td>
      <input type="text" name="brew_note[mash_notes_attributes][<%= n %>][time]"
       value="<%= time - n*15 %>">
    </td>
    <td>
      <input type="text"
             name="brew_note[mash_notes_attributes][<%= n %>][temperature]">
    </td>
    <td>
      <input type="text" name="brew_note[mash_notes_attributes][<%= n %>][body]">
    </td>

  </tr>
<% end %>
</tbody>
</table>