<h2>Boil Notes</h2>
<label for="pre_boil">Pre Boil Volume</label>
<input type="text" id="pre_boil" name="brew_note[boil_note_attributes][pre_boil_volume]">

<label for="post_boil">Post Boil Volume</label>
<input type="text" id="post_boil" name="brew_note[boil_note_attributes][post_boil_volume]">
