<h2>Bottling Notes</h2>
<label for="bottling_volume">Volume Bottled</label>
<input type="text" name="brew_note[bottling_note_attributes][volume]">

<label for="priming_sugar_type">Priming Sugar Type</label>
<input type="text" id="priming_sugar_type"
       name="brew_note[bottling_note_attributes][priming_sugar_type]">

<label for="priming_sugar_amount">Priming Sugar Amount</label>
<input type="text" id="priming_sugar_amount"
       name="brew_note[bottling_note_attributes][priming_sugar_amount]">

<label for="bottling_body">Misc Notes</label>
<input type="text" id="bottling_body"
       name="brew_note[bottling_note_attributes][body]">