<% if params[:recipe_id] %>
<% context = Recipe.find(params[:recipe_id]).name %>
<% else %>
<% context = current_user.username %>
<% end %>

<div id="brew-notes-index">

  <h1>BREW NOTES INDEX for <%= context %></h1>
  <% if params[:recipe_id] %>
    <%= link_to "Back to recipe", recipe_url(params[:recipe_id]) %>
  <% end %>
  <ul>
    <%= render @brew_notes %>
  </ul>

</div>