<div id="new-brew-note">
  <p>Welcome to your brew! We will walk you through each step as you make your beer. Take notes are you brew so that you can become a better brewer!</p>
  
  <%= render "hidden_form" %>

</div>