<h1>Search results</h1>
<%= paginate recipes %>
<ul class="recipe-tiles group">
  <% if recipes.length > 0 %>
    <%= render recipes %>
  <% else %>
    <li>No results found. <%= link_to "Back to all recipes", recipes_url %></li>
  <% end %>
</ul>
<%= paginate recipes %>