<li class="user">
  <!-- FIGURE OUT GRAVATAR -->
  <a class="group" href="<%= user_url(user) %>">
    <figure><img src="http://placekitten.com/100/100"></figure>
    <h2><%= user.username %></h2>
  </a>
</li>