<div id="user">
  <h1><%= @user.username %></h1>
  <h2 class="user-recipes">Recipes</h2>
  <ul class="recipes">
  <%= render @user.recipes %>
  </ul>
  <div class="friend-button">
  <% if user_signed_in? %>
    <% if current_user.friends.include?(@user) %>
    <%= button_to "Remove friend", user_friendship_url(@user),
        method: :delete %>
    <% elsif current_user == @user %>

    <% else %>
    <%= button_to "Add friend", user_friendship_url(@user) %>
    <% end %>
  <% end %>
  </div>
</div>