<div id="tasting-note-form">

<h1>Create a new tasting note for <%= @tasting_note.brew_note.recipe.name %></h1>

<%= render "form" %>
</div>
<script>
$(function(){
  // $(".chosen-menu").chosen({width: "200px"});

  <% selectors = @tasting_note.flavor_attribute_names.map {|name| "##{name}"} %>

  FlavorSlider.init(<%= selectors.to_json.html_safe %>)

})
</script>