/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, div, header, h1, h2, nav, ul, li, a, footer, button, form, input {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align: baseline;
}

body{
  line-height:1;
  font-family: sans-serif;
}

ul {
  list-style:none;
}

a {
  text-decoration: none;
  color:black;
}

.main-body {
  width: 1000px;
  margin: 37px auto;
}

.sidebar {
  width: 200px;
  float:left;
}

.sidebar li {
  border-top: 5px solid #D5846C;
}

.sidebar li:last-child{
  border-bottom: 5px solid #D5846C;
}

.sidebar li a{
  display:block;
  padding: 10px;
}

.sidebar li a:hover{
  background: #BABABA;
}

.main-content {
  float: left;
  width: 798px;
  background: #E37A41;
  border-left: 2px solid black;
}

footer {
  clear:both;
  width: 1000px;
  border-top: 5px solid #A2B8BE;
  margin: auto;
}

footer h2 {
  padding: 10px;
}
/*clearfix*/
.group:after{
  content:"";
  display:block;
  clear:both;
}
