#brew-notes-index{
  h1{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .recipe-link{
    display:block;
    padding: 20px;
    margin: 5px 10px;
    background: lighten($main-color, 23%);
    text-align: center;
    &:hover{
      box-shadow: 0 0 3px black;
    };
    &:active{
      box-shadow: inset 0 0 3px black;
    };
  }

  .brew-notes-header{
    margin: 20px;
  }

  ul {
    padding: 5px;
  }

  .brew-notes-list{
    width: 20%;
    float: left;
    ul {
      clear: both;
      padding: 0;
    }
    .sub-note-ul li {
      width: 50%;
      float: left;
    }
  }

  .left-note{
    width: 40%;
    float: left;
  }

  .right-note{
    width: 40%;
    float: right;
  }

  .message{
    padding: 20px;
  }

}