#brew-notes-index{
  h1{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .recipe-link{
    display:block;
    padding: 20px;
    margin: 5px 20px;
    background: lighten($main-color, 23%);
    width: 140px;
    text-align: center;
    &:hover{
      box-shadow: 0 0 3px black;
    };
    &:active{
      box-shadow: inset 0 0 3px black;
    };
  }

  .brew-notes-header{
    margin: 20px;
  }

  ul {
    padding: 5px;
  }

  .brew-notes-list{
    width: 20%;
    float: left;
    ul {
      clear: both;
      padding: 0;
    }
    .sub-note-ul li {
      width: 33%;
      float: left;
      a{
        padding: 10px;
      }
    }
  }

  .left-note{
    width: 40%;
    float: left;
  }

  .right-note{
    width: 40%;
    float: right;
  }

  .left, .right{
    display: block;
    height: 60px;
    margin: 2px;
    border: 0;
    text-align: center;
    &:hover{
      box-shadow: 0 0 3px black;
    };
  }

  .selected-left .right, .selected-right .left{
    pointer-events: none;
    cursor: default;
    background: lighten(desaturate($main-color, 50%), 30%);
  }

  .selected-left .left, .selected-right .right{
    background: adjust_hue($main-color,80);
    color: white;
  }

}