.top {
  background-color: desaturate($main-color, 30%);
  position: fixed;
  z-index: 500;
  top:0;
  left:0;
  width: 100%;
  border-bottom: 2px solid black;
}

.main-header{
  width: $main-width;
  margin:auto;
  background-color: $main-color;
}

.main-header h1{
  float: left;
  font-weight: bold;
  font-size: 20px;
  border-left: 2px solid black;
  padding: 12px 10px 15px 10px;
  margin-left: $main-width * .2;
}

.main-header nav{
  float: right;
  border-left: 2px solid black;
}

.main-header nav ul li{
  float: left;
  &:hover{
    background-color: lighten($main-color, 10%);
  }
}


.main-header nav ul li a{
  display:block;
  padding:16px 20px 15px 10px;
  &:hover{
    background-color: lighten($main-color, 10%);
  }
}

.main-header nav ul .account-dropdown{
  position:relative;
  .hidden-menu{
    display: none;
    position: absolute;
    background: lighten($main-color, 15%);
  }
}

.main-header nav ul .account-dropdown .hidden-menu li{
  float: none;
}

.main-header nav ul .account-dropdown:hover .hidden-menu{
  display: block;
}

.main-header nav ul .account-dropdown .hidden-menu li a:hover{
  background: lighten($main-color, 20%);
}

.main-header nav ul .account-dropdown .hidden-menu li input{
  display: block;
  width: 100%;
  padding: 10px;
  background: lighten($main-color, 15%);
  text-align: left;
  &:hover{
    background: lighten($main-color, 20%);
    cursor: pointer;
  }
}