.top {
  background-color: desaturate($main-color, 30%);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  border-bottom: 2px solid black;
}

header{
  width: $main-width;
  margin:auto;
  background-color: $main-color;
}

header h1{
  float: left;
  font-weight: bold;
  font-size: 20px;
  border-left: 2px solid black;
  padding: 12px 10px 15px 10px;
  margin-left: 200px;
}

header nav{
  float: right;
  border-left: 2px solid black;
}

header nav ul li{
  float: left;
}

header nav ul li:hover{
  background-color: lighten($main-color, 10%);
}

header nav ul li a{
  display:block;
  padding:16px 20px 15px 10px;
}

header nav ul li a:hover{
  background-color: lighten($main-color, 10%);
}

header nav ul .account-dropdown{
  position:relative;
}

header nav ul .account-dropdown .hidden-menu {
  display: none;
  position: absolute;
  background: lighten($main-color, 15%);
}

header nav ul .account-dropdown .hidden-menu li{
  float: none;
}

header nav ul .account-dropdown:hover .hidden-menu{
  display: block;
}

header nav ul .account-dropdown .hidden-menu li a:hover{
  background: lighten($main-color, 20%);
}
header nav ul .account-dropdown .hidden-menu li form{
  display: block;
  width: 100%;
}


header nav ul .account-dropdown .hidden-menu li input{
  display: block;
  width: 100%;
  padding: 10px;
  background: lighten($main-color, 15%);
}

header nav ul .account-dropdown .hidden-menu li input:hover{
  background: lighten($main-color, 20%);
  cursor: pointer;
}








