.top {
  background-color: desaturate($main-color, 30%);
  position: fixed;
  z-index: 500;
  top:0;
  left:0;
  width: 100%;
}

.main-header{
  position: relative;
  width: $main-width;
  min-width: $main-min-width;
  margin:auto;
  background-color: $main-color;
}

.main-header .decal{
  position: absolute;
  top: 8px;
  left: 10%;
  pointer-events: none;
}

.main-header .main-logo{
  width: 550px;
  float: left;
  margin-left: 20%;
  position: relative;
  top: 13px;
  left: 0px;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.main-header nav{
  float: right;
  margin-right: 20%;
  margin-top: 19px;
  font-size: 18px;
  background: $dropdown-color;
}

.main-header nav ul li a{
  color: white;
  display:block;
  padding:16px 20px 15px 10px;
  font-size: 20px;
  &:hover{
    background-color: $dropdown-color;
  }
}

.main-header nav ul .account-dropdown{
  position:relative;
  .hidden-menu{
    display: none;
    position: absolute;
    background: $dropdown-color;
  }
}

.main-header nav ul .account-dropdown .hidden-menu li{
  float: none;
}

.main-header nav ul .account-dropdown:hover .hidden-menu{
  display: block;
}

.main-header nav ul .account-dropdown .hidden-menu li a:hover{
  background: lighten($main-color, 20%);
}

.main-header nav ul .account-dropdown .hidden-menu li input{
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: $dropdown-color;
  color: white;
  &:hover{
    background: lighten($main-color, 20%);
    cursor: pointer;
    box-shadow: none;
  }
}