//$main-color: #6793D0;
$main-color: adjust-hue(#6793D0, 0);
$header-height: 47px;
$main-width: 1000px;

//CSS Reset Styles
html, body, div, header, h1, h2, nav, ul, li, a, footer, button, form, input, table, thead, tbody, tfoot, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align: baseline;
}

body{
  line-height:1;
  font-family: sans-serif;
  background-color: lighten(desaturate($main-color, 40%), 40%)
}

ul {
  list-style:none;
}

a {
  text-decoration: none;
  color:black;
}

.main-body {
  width: $main-width;
  margin: $header-height auto;
}

.main-content {
  box-sizing: border-box;
  margin-left: $main-width * .2;
  width: $main-width * .8;
  background: desaturate($main-color, 30%);
  border-left: 2px solid black;
}

footer {
  clear:both;
  width: $main-width;
  border-top: 5px solid darken($main-color, 10%);
  margin: auto;
  h2 {
    padding: 10px;
  }
}

/*clearfix*/
.group:after{
  content:"";
  display:block;
  clear:both;
}