#new-recipe{
  padding: 10px;
  background: white;
  h1 {
    line-height: 38px;
    font-size: 30px;
    margin-bottom: 10px;
  }

  h2 {
    line-height: 20px;
    font-size: 18px;
  }

  h3 {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
  }

  form{
    padding-top: 20px;
    label {
      display: block;
      text-decoration: underline;
      cursor: pointer;
    }
    input{
      display: block;
      padding: 5px;
      margin: 10px 0;
    }
  }
  
  .button{
    height: 40px;
  }
}