#show-brew-note{
  h1{
    padding: 20px;
    text-transform: uppercase;
  }

  p{
    padding: 15px;
    margin-left: 10px;
  }


  h2{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
  }

  .notes-section{
    border:{
      top:1px solid black;
      bottom: 1px solid black;
    }
    margin: 2px 0px;
  }

  table{
    border-top: solid 1px $main-color;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  thead{
    display: table-header-group;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  tr {
    display: table-row;
  }
  td, th{
    width: auto;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 4px 7px;
    text-align: left;
    border: 1px solid $main-color;
  }
  th{
    background: lighten(desaturate($main-color,30%), 20%);
    border-bottom: solid 1px $main-color;
    vertical-align: bottom;
  }

  ul{
    padding: 20px;
  }

  li {
    padding: 10px 0;
  }

  form {
    margin: 10px;
  }
  form input[type=text], form label {
    margin: 10px;
    display: block;
    padding: 5px;
  }

  #fermentation-note{
    a{
      display: block;
      margin: 10px 20px 20px 20px;
    }
  }

  .beer-photo{
    width: 600px;
    height: 600px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .tasting-notes > a {
    margin: 20px;
  }

  .tasting-notes li {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 10px;
    width: 150px;
    float: left;
    a {
      float: left;
    }
  }

  .tasting-notes .figure-container{
    float: left;
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0;
    overflow: hidden;
  }

  .tasting-notes figure{
    position: relative;
    margin-left: -18%;
    margin-top: -18%;
    width: 150px;
    height: 150px;
  }
}