#show-brew-note{
  h1{
    padding: 20px;
    text-transform: uppercase;
  }

  p{
    padding: 40px;
  }

  a{
    color: adjust_hue($main-color, 140);
    &:hover{
      text-decoration: underline;
    };
    &:active{
      color: darken(adjust_hue($main-color, 140), 30%);
    };
  }

}