#tasting-note-show{

  h1{
    padding: 20px;
    font-size: 24px;
  }

  h2{
    padding: 10px;
  }

  .chart-container{
    width: 500px;
    float: left;
    padding-right: 30px;
  }

  .notes{
    padding: 20px;
    li{
      padding-top: 10px;
    }
  }

  .buttons{
    float: left;
  }

  .button{
    margin: 10px 0;
  }

  .back-to{
    margin: 10px 10px;
  }


}