#show-brew-note{
  h1{
    padding: 20px;
    text-transform: uppercase;
  }

  p{
    padding: 15px;
    margin-left: 10px;
  }
  a{
    color: adjust_hue($main-color, 140);
    &:hover{
      text-decoration: underline;
    };
    &:active{
      color: darken(adjust_hue($main-color, 140), 30%);
    };
  }

  h2{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
  }

  table{
    border-top: solid 1px $main-color;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  thead{
    display: table-header-group;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  tr {
    display: table-row;
  }
  td, th{
    width: auto;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 4px 7px;
    text-align: left;
    border: 1px solid $main-color;
  }
  th{
    background: lighten(desaturate($main-color,30%), 20%);
    border-bottom: solid 1px $main-color;
    vertical-align: bottom;
  }

  ul{
    padding: 20px;
  }

  li {
    padding: 10px 0;
  }

  form {
    margin: 10px;
  }
  form input, form label {
    margin: 10px;
    display: block;
    padding: 5px;
  }

  #edit-note{
    margin-left: 10%;
    display: block;
    padding: 10px;
    background: lighten($main-color, 20%);
    width: 110px;
    &:hover{
      text-decoration: none;
      box-shadow: 0 0 3px black;
    };
    &:active{
      box-shadow: inset 0 0 3px black;
    };
  }

 .edit-fermentation-note, .tasting-notes > a{
   display: block;
   border: 1px solid black;
   width: 200px;
   padding: 10px;
   background: $main-color;
   color: white;
   &:hover{
     text-decoration: none;
     box-shadow: 0 0 3px black;
   };
   &:active {
     box-shadow: inset 0 0 3px black;
   };
 }

  #fermentation-note{
    a{
      display: block;
      margin: 10px 20px 20px 20px;
    }
  }

  .beer-photo{
    width: 600px;
    height: 600px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .compare-notes{
    display: block;
    background: lighten($main-color, 15%);
    padding: 10px;
    color: white;
    width: 20%;
    margin-left: 15px;
    text-align: center;
    &:hover{
      text-decoration: none;
      box-shadow: 0 0 3px black;
    };
    &:active{
      box-shadow: inset 0 0 3px black;
      color: white;
    };
  }
  
  .tasting-notes > a {
    margin: 20px;
  }
}