.sidebar {
  box-sizing: border-box;
  width: $main-width * .2;
  min-width: $main-min-width * .2;
  position:fixed;
  background-color: $sidebar-light;


  img{
    padding: 0 10px;
    height: 12px;
  }

  li {
    &:nth-child(odd){
      background-color: $sidebar-dark;
    };
  }

  li a{
    display:block;
    padding: 10px;
    color: white;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    &:hover{
      background: lighten(desaturate($main-color, 100%), 30%);
      text-decoration: none;
    }
    &:active{
      background: desaturate($main-color, 100%);
    }
  }

  i{
    font-size: 16px;
    padding: 5px;
  }
}
