<div class="top">
  <header class="group">
    <h1>Better Brewing</h1>
    <nav>
      <ul>
        <li class="account-dropdown">
          <a href="#">My Account</a>
          <ul class="hidden-menu">
            <li><a href="#">My Recipes</a></li>
            <li><a href="#">My Brew Notes</a></li>
            <li><a href="#">My Tasting Notes</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>