<div class="sidebar">
  <ul>
    <li><%= link_to "Recipes", recipes_url %></li>
    <li><a href="#">Brewers</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Tasting Guide</a></li>
    <li><a href="#">Upload BeerXML</a></li>
  </ul>
</div>