<div class="sidebar">
  <ul>
    <li><%= link_to "Recipes", recipes_url %></li>
    <li><%= link_to "Brewers", users_url %>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Tasting Guide</a></li>
    <li><%= link_to "Upload BeerXML", new_recipe_url %></li>
  </ul>
</div>